/* src/index.css */
@font-face {
    font-family: 'Bookerly';
    src: url('../assets/font/Bookerly.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    /* font-family: 'Bookerly', sans-serif; */
    font-family: sans-serif;
    overflow-x: hidden;
}

:root {
    overflow-x: hidden;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #e7e7e7;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #111827;
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #393f50;
}

.custom-y-scroll::-webkit-scrollbar{
    width: 5px !important
}

.custom-notification-scroll::-webkit-scrollbar-track {
  background: #fff !important;

}
.custom-notification-scroll::-webkit-scrollbar-thumb {
  background: #cdd5df !important;

}
.custom-notification-scroll::-webkit-scrollbar{
    width: 4px !important
}

.MuiTableContainer-root::-webkit-scrollbar-thumb {
    background: #2c2c2c;
    width: 1px;
    height: 2px !important;
}
.MuiTableContainer-root::-webkit-scrollbar-track {
    background: #e7e7e7;
    height: 5px !important;
}
.MuiTableContainer-root::-webkit-scrollbar {
    height: 2.5px !important;
}

.MuiTableContainer-root::-webkit-scrollbar-thumb:hover {
    background: #393f50;
    cursor: pointer;
}

/*  overwrite input of  MuiAutocomplete for searchicon */
.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon .MuiOutlinedInput-root {
    padding-right: 10px !important; /* Adjust padding as needed */
}

/* update react -phone-input css starts here */
.custom-phone-input .flag-dropdown {
    background-color: #fff; /* Normal state */
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  .custom-phone-input .flag-dropdown:hover {
    background-color: #f0f0f0; /* Hover state */
    cursor: pointer;
  }

  .react-tel-input .selected-flag:hover, .react-tel-input .selected-flag:focus, .react-tel-input .flag-dropdown.open .selected-flag {
    border-radius: 8px !important;
  }

  .react-tel-input .form-control.invalid-number, .react-tel-input .flag-dropdown.invalid-number{
    border-color: #f44336 !important;
    background-color: #fff !important;
  }

  .react-tel-input :disabled{
    cursor: auto !important;
    background-color: #f0f0f0bf !important;
    color: #888 !important;
   }

   /* update react -phone-input css ends here */

   /* update swiper css starts here */
  .swiper-button-prev, .swiper-button-next{
    color: #111827 !important;
  }

  .swiper-pagination-bullet-active{
    background: #111827 !important;
  }
   /* update swiper css ends here */

  .error-label {
    font-size: 11px;
  }
  
  .error-label-color {
    color: #f44336;
  }
  